@font-face {
    font-family: 'Roboto';
    src: 
        url('../fonts/Roboto-Bold.ttf'),
        format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: 
        url('../fonts/Roboto-Regular.ttf'),
        format('truetype');
    font-weight:normal;
}
*{
    margin:0;
    padding:0;
    left:0;
    top:0;
    font-family: 'Roboto', sans-serif;
}

body {
    background:hsl(235, 18%, 26%);
    width:100%;
    height:100vh;
}
.container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.form-container {
    width:65%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2em;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    box-shadow:0px 1px .75rem hsl(234, 29%, 20%);
}
.left-side ,
.right-side {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1.5rem;
    width:50%;
    margin:auto auto;
}
.left-side{
    width:55%;
}
.desktop-image {
    width:100%;
}
.left-side-container {
    display:flex;
    flex-direction: column;
    width:85%;
    margin-left:1.5em;
    gap:1.25em;
    color:hsl(235, 18%, 26%);
}
.left-side-header{
    font-weight: bold;
    font-size: 3.5em;
    align-self: flex-start;
    color:hsl(234, 29%, 20%);
}
.left-side-line {
    font-size:16px;
    line-height: 1.5em;
}
.news-list {
    list-style: none;
    list-style-type: inside;
    padding:0 ;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap:1em;
    margin-bottom:1.5em;
}
.news-line {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    gap:1em;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    margin-left:0;
    padding:0;

}
.chk-mark {
    display: flex;
    width:1.25em;
    color:hsl(4, 100%, 67%);
}

.mail-form {
    display:flex;
    flex-direction: column;
    width:100%;
    gap:1.5rem;
}
.input-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:.5em;
}
.email-label {
    color:hsl(234, 29%, 20%);
    font-size:12px;
    font-weight: bold;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.email-input {
    padding:1em 0;
    border-radius:.5em;
    border:1px solid hsl(231, 7%, 60%);
    text-align: calc(2em);
    padding-left:1.5em;
    color:hsl(235, 18%, 26%);
    font-size:16px;
}
.email-input:placeholder-shown {
    padding-left: 1.5em;
    color:hsl(231, 7%, 60%);
}
.email-input:invalid {
    color:hsl(4, 100%, 67%);
    background:rgba(255, 98, 87,.2);
}
.validation-text {
    color:hsl(4, 100%, 67%);
    display:none;
}
.submit-btn {
    padding:1.25em 0;
    background: hsl(234, 29%, 20%);
    color:hsl(0, 0%, 100%);
    border-radius: .5em;
    border:none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.submit-btn:hover {
    background: linear-gradient(90deg , hsl(346, 100%, 66%), hsl(4,100%,67%) );
    filter: drop-shadow(0px 6px 12px hsl(4,100%,67%));}
.mobile-image {
    display:none;
}

.confirm-container {
    display:none;
    flex-direction: column;
    background:hsl(0,0%,100%);
    box-shadow:0px 1px .75rem hsl(234, 29%, 20%);
    width:20%;
    border-radius: 1.5em;
    padding:2.5em 3em;
    gap:1.25em;
    margin:0;
}
.confirm-content {
    display:flex;
    flex-direction: column;
    gap:1.25em;
}

.confirm-icon {
    width:3em;
    margin-bottom:.5em
}
.confirm-head {
    font-size: 2.5em;
    line-height: 1em;
    color:hsl(234, 29%, 20%);
}
.confirm-text {
    color:hsl(235, 18%, 26%);
    font-size:.75em;
    line-height: 1.5em;
    margin-bottom: 1em;
}
.dismiss-btn {
    background:hsl(234, 29%, 20%);
    color:hsl(0,0%,100%);
    border:unset;
    border-radius: .5em;
    padding:1.1em 0;
    font-size:.75em;
    margin-bottom: .5em;
    cursor: pointer;
}
.dismiss-btn:hover {
    background: linear-gradient(90deg , hsl(346, 100%, 66%), hsl(4,100%,67%) );
    filter: drop-shadow(0px 6px 12px hsl(4,100%,67%));
}
.user-email {
    font-weight: bold;
}
@media only screen and (max-width:375px) {
    html {
        width:100%;
    }
    body {
        width:100;
        height:100%;
        background-color: hsl(0,0%,100%);;
    }
    .desktop-image {
        display: none;
    }
    .mobile-image{
        display:block;
        width:100%;
    }
    .container {
        min-height:100vh;
    }
    .form-container {
        flex-direction: column-reverse;
        flex-wrap:nowrap;
        width:100%;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        margin:0;
        padding:0;
    }
    .left-side, .right-side {
        width:100%;
        margin:0;
        padding:0;
    }
    .left-side-header {
        font-size:2.5em;
    }
    .left-side-container {
        margin-left:0;
    }
    .left-side {
        padding:2em 0;
        padding-bottom:3em;
    }
    .news-list {
        line-height: 1.5em;
    }
    .news-line {
        align-items: flex-start;
    }
    .confirm-container {
        border-radius: unset;
        box-shadow:unset;
        display:none;
        flex-wrap:nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        gap:2em;
        padding:0;
    }
    .confirm-icon {
        margin:0;
        margin-top:4.5em;
        width:4.05em;
    }
    .confirm-head {
        margin-top:.4em;
    }
    .dismiss-btn {
        display:flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        margin-top:70%;
        justify-self: flex-end;
        width:100%;
        padding:1.2em 0;
        font-size: 16px;
        font-weight: normal;
    }
    .confirm-content {
        display: flex;
        flex-direction: column;
        padding:20% 1.5em;
        gap:1.5em;
    }
    .confirm-text {
        font-size:16px;
    }

}